
   <% provide(:title, @user.name) %>
   <div class="row">
       <aside class="col-md-4">
           <section class="user_info">
               <h1>
                   <%= gravatar_for @user %>
                   <p>用户名：<%= @user.name %></p>
                   <p>邮箱：<%= @user.email %></p>
               </h1>
           </section>
           <section class="stats">
               <%= render 'shared/stats' %>
           </section>
       </aside>
       <div class="col-md-8">
           <%= render 'follow_form' if logged_in? %>
           <% if @user.microposts.any? %>
           <h3>微博 (<%= @user.microposts.count %>)</h3>
           <ol class="microposts">
               <%= render @microposts %>
           </ol>
           <%= will_paginate @microposts ,:previous_label=> '上一页',:next_label=> '下一页' %>
           <% end %>
       </div>
   </div>