   <%
=begin%>
   <% provide :title, "Show" %>
   <p>姓名：<%= @user.name %></p>
   <p>邮箱：<%= @user.email %></p>
   <p>创建时间：<%= @user.created_at %></p>
   <p>更新时间：<%= @user.updated_at %></p>
   <%
=end%>


   <% provide(:title, @user.name) %>
   <div class="row">
       <aside class="col-md-6">
           <section class="user_info">
               <h1>
                   <%= gravatar_for @user %>
                   <p>用户名：<%= @user.name %></p>
                   <p>邮箱：<%= @user.email %></p>
               </h1>
           </section>
       </aside>
       <div class="col-md-6">
           <% if @user.microposts.any? %>
           <h3>微博 (<%= @user.microposts.count %>)</h3>
           <ol class="microposts">
               <%= render @microposts %>
           </ol>
           <%= will_paginate @microposts ,:previous_label=> '上一页',:next_label=> '下一页' %>
           <% end %>
       </div>
   </div>